name: Docker

on:
  workflow_call:
  
jobs:

  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: setup Docker Build
      uses: docker/setup-buildx-action@v3.4.0
      
    - name: Docker Login
  # You may pin to the exact commit or the version.
  # uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
      uses: docker/login-action@v3.2.0
      with:
          # Username used to log against the Docker registry
        username: crisdockerz
          # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.PASSWORD_DOCKER_HUB }}

    - name: Download a Build Artifact
      uses: actions/download-artifact@v4.1.8
      with:
        # Name of the artifact to download. If unspecified, all artifacts for the run are downloaded.
        name: programa-em-go          
        
    - name: Build and push Docker images
  # You may pin to the exact commit or the version.
  # uses: docker/build-push-action@1a162644f9a7e87d8f4b053101d1d9a712edc18c
      uses: docker/build-push-action@v6.3.0
      with:
        # Build's context is the set of files located in the specified PATH or URL
        context: .
        # Path to the Dockerfile
        file: ./Dockerfile
        # Push is a shorthand for --output=type=registry
        push: true
        # List of tags
        tags: cris/go_ci:${{github.ref_name}}

        
          
